
.spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fa-spinner {
    margin-top: 3rem;
    margin: 4rem;
    font-size: 5rem;
    color:blueviolet;
    animation: load 1s infinite;
}


@keyframes load {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
